importFrom("xcms", "xcmsSet")
export("isatab2bioc")
export("isatab2bioczip")
export("processAssayXcmsSet")
export("updateAssayMetadata")
export("write.isatab")
export("write.investigation.file")
export("write.assay.file")
export("write.study.file")
exportClass("ISAtab")
