exportClass("ISATab")

export("readISAtab")
export("updateAssayMetadata")
export("write.ISAtab")
export("write.investigation.file")
export("write.assay.file")
export("write.study.file")
export("getAnnotatedDataFrameAssay")
export("getStudyFilename")
export("getRawDataFilenames")

export("getRawDataFilenames")
export("getAssayRawDataFilenames")

importFrom("xcms", "xcmsSet")
export("processAssayXcmsSet")
export("processAssayXcmsSet.1factor")
export("getMSAssayFilenames")
export("isMSAssay")

export("getMicroarrayAssayFilenames")
export("isMicroarrayAssay")
export("getMIAMEMetadata")
export("getExpressionSet")

export("suggestBiocPackage")

