importFrom("xcms", "xcmsSet")
export("isatab2bioc")
export("isatab2bioczip")
export("processAssayType")
export("processAssayXcmsSet")
export("add.assay.metadata")
export("write.isatab")
export("write.investigation.file")
export("write.assay.file")
